{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--para un mejor manejo en mobiles-->
    
    <title>{% block title %}bienvenid@{% endblock %}</title>
    {% block extracss %}
    <link rel="stylesheet" type="text/css" href="{% static 'materialize/main/main.css' %}">
    {% endblock %}
    <link  href="{% static 'materialize/css/materialize.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
</head>
<body>

<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper grey darken-3">
        <!--logo (escudo de la universidad y nombre de la iudad)-->
            <img src="{% static 'escudos/uajms.png' %}" alt="" class="circle" style="height: 64px; line-height: 64px;">
            <a href="{% url 'portada:index'%}" class="brand-logo">Yacuiba</a>
            <!--preparacion de menu para movil-->
            <a href="#" data-target="mobile_menu" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
            <!--lista de componentes del la barra de navegacion-->
            <ul class="right hide-on-med-and-down">
                <li><a href="{% url 'portada:historia' %}">algo de historia</a></li>
                <li><a class="dropdown-trigger" href="#" data-target="dropdown2">mapa</a></li>
                <li><a class="dropdown-trigger" href="#" data-target="dropdown3">servicios</a></li>
                <li><a href="{% url 'paseov:listaseov' %}">paseos virtuales</a></li>
                <li><a href="{% url 'album:listalbum' %}">albumes</a></li>
                <!-- Dropdown Trigger -->
                <li><a class="dropdown-trigger" href="#" data-target="dropdown1">
                    {% if user.is_authenticated %}
                    {{user.nombres}} {{user.apellidos}}
                    {% else %}
                    ingreso
                    {% endif %}
                    <i class="material-icons right">account_circle</i></a></li>
            </ul>
        </div>
    </nav>
</div>

<!--lista de componentes menu para mobiles--> 
<ul class="sidenav" id="mobile_menu">
    <li><a href="#">Sass</a></li>
    <li><a href="#">Components</a></li>
    <li><a href="#">Javascript</a></li>
    <li><a href="#">Mobile</a></li>
</ul>
<!--estructura para el perfil-->
<ul id="dropdown1" class="dropdown-content">
    {% if user.is_authenticated %}
        <li><a href="{% url 'usuarios:editar_usuario' user.id %}"><i class="material-icons">account_circle</i>editar perfil</a></li>
        <li><a href="{% url 'mapa:miscoments' user.id %}"><i class="material-icons">list</i>ver mis comentarios</a></li>
        {% if user.rol_id == 1 %}
            <li><a href="{% url 'portada:index_main' %}"><i class="material-icons">help</i>pagina de administracion</a></li>
        {% endif %}
        <li class="divider"></li>
        <li><a href="{% url 'logout' %}"><i class="material-icons">logout</i>cerrar sesion</a></li>
    {% else %}
        <li><a href="{% url 'usuarios:login_user'%}"><i class="material-icons">input</i>iniciar session</a></li>
        <li><a href="{% url 'usuarios:registrar_usuario'%}"><i class="material-icons">person_add</i>registro</a></li>
    {% endif %}
</ul>
<!--estructura para el mapa y registro de lugares-->
<ul id="dropdown2" class="dropdown-content">
    {% if user.is_authenticated %}
        <li><a href="{% url 'mapa:registro_ubi'%}"><i class="material-icons">add_location</i>agregar ubicacion</a></li>
        <li class="divider"></li>   
    {% endif %}
        <li><a href="{% url 'mapa:vmapa'%}"><i class="material-icons">map</i>ver mapa</a></li>
</ul>
<ul id="dropdown3" class="dropdown-content">
    <li><a href="{% url 'mapa:listubif' 1 %}">plaza</a></li>
    <li><a href="{% url 'mapa:listubif' 2 %}">hospedaje</a></li>
    <li><a href="{% url 'mapa:listubif' 3 %}">sitio de comida</a></li>
    <li><a href="{% url 'mapa:listubif' 4 %}">sitio religioso</a></li>
    <li><a href="{% url 'mapa:listubif' 5 %}">hospital</a></li>
    <li><a href="{% url 'mapa:listubif' 6 %}">mercado</a></li>
    <li><a href="{% url 'mapa:listubif' 7 %}">farmacia</a></li>
    <li><a href="{% url 'mapa:listubif' 8 %}">institucion publica</a></li>
    <li><a href="{% url 'mapa:listubi' %}">todos los lugares</a></li>
    
</ul>
{% block content %}
    <div class="wrapper">
            <div class="slider-holder">
                    <div class="carousel carousel-slider center-align">
                        <div class="carousel-item" >
                            <h1 class="d-block"><font color="black">disfruta del mirador</font></h1>
                            <h4 ><font color="white">comparte una aventura con tus seres queridos.</font></h4>
                            <img src="{%static 'main/assets/images/mirador2.png'%}">
                        </div>
                        <div class="carousel-item" >
                            <h1 class="d-block" >Laguna Santa marta</h1>
                            <h4 ><font color="white">orillas de la laguna a la luz de la luna.</font></h4>
                            <img src="{%static 'main/assets/images/slider1.jpg'%}">
                        </div>
                        <div class="carousel-item" >
                            <h1 class="d-block">Conoce nuevos lugares</h1>
                            <h4 ><font color="white">Que esperas parar aprender un poco<br>mas de ti viajando.</font></h4>
                            <img src="{%static 'main/assets/images/slider2.jpg'%}" >
                        </div>
                        <div class="carousel-item" >
                            <h1 class="d-block"><font color="black">Conoce yacuiba</font></h1>
                            <h4 ><font color="gray">ven y conoce esta frontera comercial con argentina.</font></h4>
                            <img src="{%static 'main/assets/images/slider3.png'%}">
                        </div>

                    </div>
            </div>
    </div>
<div class="container">
    <h2 class="text-light">recuerdos de yacuiba</h2>
    <p class="lead text-muted">se parte de las vivencias locales en imagenes.</p>
    <table border="1">
        <tr>
            <td rowspan="3"><a href="#"><img src="{%static 'main/assets/images/museo.jpeg'%}" class="img-fluid" style="width: 90%; object-fit: none;"></a></td>
            <td></td>
        </tr>
        <tr>
            <td><h4 class="text-dark">MUSEO EN SANANDITA</h4>
                <p class="text-muted mb-0">HISTORIA Y CULTURA QUE NO PUEDES PERDER.</p></td>
        </tr>
        <tr>
            
            <td rowspan="3"><a href="#"><img src="{%static 'main/assets/images/mirador.jpg'%}"style="width: 90%; object-fit: none;"></a></td>
        </tr>
        <tr>
            <td><p class="text-gold mb-3">MIRADOR DE LA CRUZ</p>
                <h5>admira la ciudad en su esplendor.</h5></td>
            
        </tr>
        <tr>
            <td rowspan="3"><a href="#"><img src="{%static 'main/assets/images/plaza.jpg'%}" style="width: 90%; object-fit: none;"></a></td>
        </tr>
        <tr>
            
            <td><p class="text-gold mb-3">plaza 6 de agosto</p>
                <h5>¿quieres dar una vuelta por la plaza principal?</h5></td>
        </tr>
        <tr>
            
            <td></td>
        </tr>
    </table>
</div>
<div class="container" >
    <div class="row grey darken-2" >
        <h2>empieza a usar el mapa</h2>
        <div class="col s12 " style="background-image: url('{%static 'main/assets/images/slider3.png'%}'); background-size: cover; background-repeat: no-repeat; height: 300px;">
            <div class="row" >
                <div class="col s10" >
            <p >pero aun no es todo aun hay mas si sigues bajando.</p>
            </div>
            <div class="col s2" style=" line-height: 250px;">
                <p>
                   <a href="{% url 'mapa:vmapa'%}" class="waves-effect waves-light btn-large" style="color: black; background-color:white;">acceder al mapa </a> 
                </p>
            </div>
            </div>  
        </div>    
    </div>
</div>
<div class="container">
    <h2 class="text-light">prueba la experiencia de las visitas virtuales en yacuiba</h2>
    <p class="lead text-muted">en la seccion de visitas virtuales encontraras mas.</p>
    <table border="1">
        <tr>
            <td><a href=""><img src="{%static 'main/assets/images/mirador.jpg'%}" style="width: 90%; object-fit: none;"></a></td>
            <td><a href=""><img src="{%static 'main/assets/images/aguayrenda.jpg'%}" style="width: 90%; object-fit: none;"></a></td>
            <td><a href=""><img src="{%static 'main/assets/images/plaza.jpg'%}" style="width: 90%; object-fit: none;"></a></td>
        </tr>
        <tr>
            <td><h4 class="text-dark">MIRADOR DE LA CRUZ</h4>
                <p class="text-muted mb-0">admira la ciudad en su esplendor.</p></td>
            <td><h4 class="text-dark">AGUAYRENDA</h4>
                <p class="text-muted mb-0">momentos vividos capturados en imagenes.</p></td>
            <td><h4 class="text-dark">PLAZA PRINCIPAL</h4>
                <p class="text-muted mb-0">un lugar para descanzar. </p></td>
        </tr>
    </table>
</div>

{% endblock %}
<footer class="page-footer grey darken-3" style="text-transform: lowercase;">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <p class="grey-text text-lighten-4"><span class="flow-text"><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Licencia de Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></br></a>Esta obra está bajo una <a rel="license" href="http://creativecommons.org/licenses/by/4.0/" style="text-transform: lowercase;">licencia de Creative Commons Reconocimiento 4.0 Internacional</a>.</span></p>
              </div>
              <div class="col l4 offset-l2 s12" style="line-height: 100px; word-spacing: 2px">
                {% if user.is_authenticated%}
                    <p class="grey-text text-lighten-3 ">Bienvenido {{user.nombres}} {{user.apellidos}}</p>
                {% else %}
                    <a class="grey-text text-lighten-3" href="{% url 'usuarios:registrar_usuario'%}"><span class="flow-text" style="text-transform: lowercase;">registrate </span></a>
                    <a class="grey-text text-lighten-3" href="{% url 'usuarios:login_user'%}"><span class="flow-text" style="text-transform: lowercase;"> ingresa</span></a>
                {% endif %}
              </div>
            </div>
          </div>
        </footer>
<script src="{% static 'DataTable/jQuery-3.6.0/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'materialize/js/materialize.js' %}"></script>
<script>
    M.AutoInit();
</script>
{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success' %}
        <script type="text/javascript">
            M.toast({
                html: '{{message}}',
                classes: 'green rounded',
                displayLength: 3000,
            })
        </script>
        {% endif %}
        {% if message.tags == 'info' %}
        <script type="text/javascript">
            M.toast({
                html: '{{message}}',
                classes: 'blue rounded',
                displayLength: 3000,
            })
        </script>
        {% endif %}
        {% if message.tags == 'warning' %}
        <script type="text/javascript">
            M.toast({
                html: '{{message}}',
                classes: 'orange rounded',
                displayLength: 3000,
            })
        </script>
        {% endif %}
        {% if message.tags == 'error' %}
        <script type="text/javascript">
            M.toast({
                html: '{{message}}',
                classes: 'red rounded',
                displayLength: 3000,
            })
        </script>
        {% endif %}
    {% endfor %}
{% endif %}

{% block extrajs %}
{% endblock %}
</body>
</html>