{% extends 'main_usuario.html' %}
{% load static %}
{% block title %}
listado usuarios
{% endblock %}
{% block extracss %}
    <link rel="stylesheet" type="text/css" href="{% static 'DataTable/datatables.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'materialize/main/estrellas.css' %}">
{% endblock %}
{% block content %}
<div class="row">
    <div class="col s10 offset-s1">
        <h2 class="header">listado de comentarios</h2>
                    {% if c_lista %}
                        <table id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>comentario</th>
                                    <th>ubicacion</th>
                                    <th>autor</th>
                                    <th>puntaje</th>
                                    <th>opciones</th>
                                </tr>
                            </thead>
                           
                            <tbody>
                                {% for comentario in c_lista %}
                                <tr>
                                    <td>{{comentario.texto}}</td>
                                    <td>{{comentario.ubicacion}}</td>
                                    <td>{{comentario.autor}}</td>
                                    <td>
                                        <form>
                                          <p class="clasificacion">
                                            {% if comentario.puntaje == 5 %}
                                            <input id="radio2" type="radio" name="estrellas" value="5"
                                             checked >
                                             {% else %}
                                             <input id="radio2" type="radio" name="estrellas" value="5">
                                             {% endif %}
                                            <label for="radio1">★</label>
                                            {% if comentario.puntaje == 4 %}
                                            <input id="radio2" type="radio" name="estrellas" value="4"
                                             checked >
                                             {% else %}
                                             <input id="radio2" type="radio" name="estrellas" value="4">
                                             {% endif %}
                                            <label for="radio2">★</label>
                                            {% if comentario.puntaje == 3 %}
                                            <input id="radio2" type="radio" name="estrellas" value="3"
                                             checked >
                                             {% else %}
                                             <input id="radio2" type="radio" name="estrellas" value="3">
                                             {% endif %}
                                            <label for="radio3">★</label>
                                            {% if comentario.puntaje == 2 %}
                                            <input id="radio2" type="radio" name="estrellas" value="2"
                                             checked >
                                             {% else %}
                                             <input id="radio2" type="radio" name="estrellas" value="2">
                                             {% endif %}
                                            <label for="radio4">★</label>
                                            {% if comentario.puntaje == 1 %}
                                            <input id="radio2" type="radio" name="estrellas" value="1"
                                             checked >
                                             {% else %}
                                             <input id="radio2" type="radio" name="estrellas" value="1">
                                             {% endif %}
                                            <label for="radio5">★</label>
                                          </p>
                                        </form>
                                    </td>
                                    {% if user.rol_id != 1 or comentario.autor_id == user.id %}
                                        <td>
                                            <a href="{% url 'mapa:editcoment' comentario.id %}" class="waves-effect waves-light btn">editar</a>
                                        </td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                
    </div>
</div>
{% endblock %}
{% block extrajs %}
    <script type="text/javascript" src="{% static 'DataTable/datatables.min.js' %}"></script>
        <script type="text/javascript">
            $(document).ready( function() {
                $('#dataTable').DataTable();
            } );
            $('#dataTable').dataTable( {
              "language": {
                "lengthMenu": "mostrar entradas _MENU_",
                "search": "busqueda:",
                "info": "mostrando _START_ a _END_ de _TOTAL_ entradas",
                "paginate": {
                                "first":      "primera",
                                "last":       "ultima",
                                "next":       "siguiente",
                                "previous":   "anterior"
                            },
                "zeroRecords":    "no se encuentran resultados para su busqueda",
              }
            } );
        </script>
{% endblock %}