{% extends 'main_usuario.html'%}
{% load static %}
{% block title %} reg/mod comentario{% endblock %}
{% block extracss %}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
          <div class="col s12">
               <div class="row">
                    <form method="POST" >
                         {% csrf_token %}
                         <div class="row">
                              <div class="input-field col s4 offset-s4">
                                  <H5>FORMULARIO DE COMENTARIOS</H5>
                              </div>
                         </div>
                         <div class="row">
                              <div class="input-field col s4 offset-s4">
                                  {{ form.texto }}
                                  <label for="id_texto">comentario</label>
                              </div>
                         </div>
                         <div class="row" style="display:none">
                              <div class="input-field col s4 offset-s4">
                              {% if ubi %}
                                  <input name="ubicacion" type="text" class="validate" value="{{ubi}}">
                              {% else %}
                                   {{form.ubicacion}}
                              {% endif %}
                                  <label for="id_ubicacion">ubicacion</label>
                              </div>
                         </div>
                         <div class="row" style="display:none">
                              <div class="input-field col s4 offset-s4">
                                   <input type="text" name="autor" value="{{user.id}}"> 
                                   <label for="id_autor">autor</label>
                              </div>
                         </div>
                         <div class="row">
                              <div class="input-field col s4 offset-s4">
                                  {{ form.puntaje }}
                                  <label for="id_puntaje">apreciacion</label>
                              </div>
                         </div>
                         <div class="row">
                              <div class="input-field col s4 offset-s4">
                                  <button class=" waves-effect waves-green light-green darken-3 btn" type="submit">registrar</button>
                              </div>
                         </div>
                    </form>
               </div>
          </div>
     </div>
</div>
{% endblock %}
{% block extrajs %}
<script type="{% static 'galeria/js/main.js'%}"></script>
{% endblock %}