{% extends 'main_usuario.html'%}
{% load static %}
{% block title %} reg/mod comentario{% endblock %}
{% block extracss %}
<link rel="stylesheet" type="text/css" href="{% static 'materialize/main/estrellas.css' %}">
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
          <div class="col s12">
               <div class="row">
                    <form method="POST" >
                         {% csrf_token %}
                         <div class="row">
                              <div class="input-field col s4 offset-s4">
                                  <H5>FORMULARIO DE COMENTARIOS</H5>
                              </div>
                         </div>
                         <div class="row">
                              <div class="input-field col s4 offset-s4">
                                  {{ form.texto }}
                                  <label for="id_texto">comentario</label>
                              </div>
                         </div>
                         <div class="row" style="display:none">
                              <div class="input-field col s4 offset-s4">
                              {% if ubi %}
                                  <input name="ubicacion" type="text" class="validate" value="{{ubi}}">
                              {% else %}
                                   {{form.ubicacion}}
                              {% endif %}
                                  <label for="id_ubicacion">ubicacion</label>
                              </div>
                         </div>
                         <div class="row" style="display:none">
                              <div class="input-field col s4 offset-s4">
                                   <input type="text" name="autor" value="{{user.id}}"> 
                                   <label for="id_autor">autor</label>
                              </div>
                         </div>
                         <div class="row">
                              <div class="input-field col s4 offset-s4">
                                  <p class="clasificacion">
                                  <input id="radio1" type="radio" name="puntaje" value="5">
                                  <label for="radio1">★</label>
                                  <input id="radio2" type="radio" name="puntaje" value="4">
                                  <label for="radio2">★</label>
                                  <input id="radio3" type="radio" name="puntaje" value="3">
                                  <label for="radio3">★</label>
                                  <input id="radio4" type="radio" name="puntaje" value="2">
                                  <label for="radio4">★</label>
                                  <input id="radio5" type="radio" name="puntaje" value="1">
                                  <label for="radio5">★</label>
                                </p>
                                  <label for="id_puntaje">puntaje</label>
                              </div>
                         </div>
                         <div class="row">
                              <div class="input-field col s4 offset-s4">
                                  <button class=" waves-effect waves-green light-green darken-3 btn" type="submit">registrar</button>
                              </div>
                         </div>
                    </form>
               </div>
          </div>
     </div>
</div>
{% endblock %}
{% block extrajs %}
<script type="{% static 'galeria/js/main.js'%}"></script>
{% endblock %}