{% extends "main_usuario.html" %}
{% block content %}
<div >
  <div class="row">
    <div class="input-field col s6 offset-s3">
      <form method="post" >
      {% csrf_token %}
        <div class="row">
          <label for="form.username.label_tag">{{ form.username.label_tag }}</label>
          {{ form.username }}
        </div>
        <div class="row">
          <label for="form.password.label_tag">{{ form.password.label_tag }}</label>
          {{ form.password }}
        </div>
        <div class="row">
            <button type="submit" class="btn btn-primary btn-user btn-block">iniciar session</button>
        </div>
      </form>
    </div>  
  </div>  
</div>
{% endblock %}